<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Index</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <script src="/js/bootstrap.bundle.js"></script>

<!--    html에서 리다이렉트 하기-->
<!--    1. meta 태그 사용-->
    <meta http-equiv="refresh" content="0; URL='/board3">

<!--    2. 자바스크립트 사용-->
    <script>
        // location.href = "/board3";
    </script>
</head>
<body>
<div class="container mt-5">
    <h1>index.html</h1>
</div>
</body>
</html>